/* Немножко стилей для демо-страницы */

.wrapper {
    width:  980px;
    margin: 0 auto;
    }

.notice {
    display:       block;
    border-radius: 10px;
    padding:       7px;
    background:    #DDD;
    border:        1px solid #EEE;
    }

.notice-success {
    color:        green;
    border-color: green;
    }

.notice-error {
    color:        red;
    border-color: red;
    }

#form-dummy div {
    display: block;
    margin:  10px 0;
    font:    14px/1 "Georgia";
    }

#form-dummy div span {
    display: inline-block;
    width:   130px;
    }

#form-dummy button {
    border:        1px solid silver;
    background:    #FEFEFE;
    border-radius: 5px;
    padding:       5px 20px;
    font:          14px/1 "Georgia";
    }

#form-dummy input, #form-dummy select {
    font:          14px/1 "Georgia";
    padding:       5px;
    border:        1px solid silver;
    background:    #FEFEFE;
    border-radius: 5px;
    }

h1.blue {
    color:  blue;
    margin: 20px 0;
    }

nav {
    display:       block;
    background:    #FEFEFE;
    border-radius: 10px;
    margin:        20px 0;
    }

nav a {
    display:       inline-block;
    padding:       5px 20px;
    background:    #EEEEEE;
    color:         #666666;
    border-radius: 5px;
    }

nav a.active {
    color:      white;
    background: #666666;
    }